@import 'styles/abstracts/mixin';

button.btn-gradient {
  border-radius: 999px;
  padding: 0px 30px;
  height: 48px;
  background: linear-gradient(45deg, var(--gradient-from) 0%, var(--gradient-to) 100%);
  font-size: 18px;
  font-weight: 600;
  color: #FFF;

  @include media-md {
    padding: 0px 20px;
    height: 40px;
    font-size: 14px;
  }
}

button.btn-border-gradient {
  position: relative;
  z-index: 1;
  border-radius: 999px;
  padding: 2px;
  height: 48px;
  background: linear-gradient(45deg, var(--gradient-from) 0%, var(--gradient-to) 100%);

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 2px;
    border-radius: 999px;
    background-color: var(--white);
  }

  .btn__label {
    position: relative;
    padding: 0px 24px;
    background: linear-gradient(45deg, var(--gradient-from), var(--gradient-to));
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 18px;
    font-weight: 600;
    color: transparent;
  }

  &:hover {
    &:before {
      background-color: transparent;
    }

    .btn__label {
      background: linear-gradient(45deg, #FFF, #FFF);
      background-clip: text;
      -webkit-background-clip: text;
    }
  }

  @include media-md {
    height: 40px;

    .btn__label {
      padding: 0px 16px;
      font-size: 14px;
    }
  }
}