:root {
  --background: #F3F1FA;
  --gradient-from: #F047FF;
  --gradient-to: #7838FF;
  --gray: #8B8B8B;
  --dark-gray: #4D4D4D;
  --success: #4BB543;
  --danger: #BB2124;
  --white: #FFF;
  --black: #000;
}