body {
  --background: #F3F1FA;
  --gradient-from: #F047FF;
  --gradient-to: #7838FF;
  --gray: #8B8B8B;
  --dark-gray: #4D4D4D;
  --twitter: #1D9BF0;
  --discord: #5865F2;
  --success: #00D415;
  --danger: #C83838;
  --white: #FFF;
  --black: #000;
}

body.dark {
  --background: #0C0E04;
  --white: #121212;
  --black: #FFF;
  --gray: #737373;
  --dark-gray: #A1A1A1;
}