main.community {
  .container {
    .community {
      .content {
        margin-top: 32px;

        .overview {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
        }
      }
    }

    .active-raids {
      margin-top: 40px;

      .content {
        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 16px;
      }
    }
  }
}