main.dashboard {
  .container {
    .dashboard {
      .content {
        margin-top: 32px;

        .overview {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
        }
      }
    }
  }
}