@import 'styles/abstracts/mixin';

main.home {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 0 120px;
  // background-image: url('../../../public/images/background.png');
  background-size: cover;
  background-color: var(--white);

  nav {
    display: flex;
    align-items: center;
    height: 144px;

    .logo {
      margin-right: auto;
    }

    .login {
      margin-right: 20px;
      font-size: 18px;
      font-weight: 600;
      color: var(--dark-gray);

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .content {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    align-items: center;
    margin: auto 0;
    height: fit-content;

    .detail {
      grid-column: span 4 / span 4;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      gap: 24px;
      width: 100%;
      max-width: 720px;

      h1 {
        font-size: 100px;
        font-weight: 700;
        line-height: 1;
        color: var(--dark-gray);
      }

      p {
        font-size: 24px;
        color: var(--gray);
      }

      .button-group {
        display: flex;
        gap: 12px;
      }
    }

    .landing-image {
      grid-column: span 3 / span 3;
      max-width: 100%;
      width: 100%;
    }
  }

  .how-it-works {
    margin: 0 auto 24px;
    width: 100%;
    max-width: 826px;
  }

  .ellipse-image {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 50%;
    width: 100vw;
    transform: translateX(-50%);
  }

  @include media-xl {
    nav {
      height: 120px;
    }

    .content {
      .detail {
        h1 {
          font-size: 72px;
        }

        p {
          font-size: 20px;
        }
      }
    }
  }

  @include media-lg {
    padding: 0 60px;
  }

  @include media-md {
    .content {
      .detail {
        h1 {
          font-size: 48px
        }

        p {
          font-size: 18px;
        }
      }
    }
  }

  @include media-sm {
    padding: 0px 16px;

    nav {
      a {
        font-size: 14px;
      }
    }

    .content {
      grid-template-columns: none;

      .detail {
        margin: 0 auto;
        z-index: 1;
        width: 100%;
        max-width: 540px;

        .button-group {
          margin: 0 auto;
        }
      }

      .landing-image {
        display: none;
        position: absolute;
        z-index: 0;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 360px;
      }
    }
  }
}