@import 'styles/abstracts/mixin';

header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  height: 96px;

  .container {
    display: flex;
    align-items: center;

    .mobile-menu-icon {
      display: none;
      fill: var(--black)
    }

    nav {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 24px;
    }
  }

  @include media-md {
    height: 64px;

    .container {
      .mobile-menu-icon {
        display: block;
      }
    }
  }
}