@import 'styles/abstracts/mixin';

.sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 10vh 0;
  width: 288px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: var(--white);

  &::-webkit-scrollbar {
    display: none;
  }

  nav.menu {
    display: grid;
    gap: 16px;

    .menu-item {
      .menu-link {
        display: flex;
        align-items: center;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        padding-left: 72px;
        width: 288px;
        height: 60px;
        font-size: 20px;
        font-weight: 600;
        color: var(--gray);

        svg {
          margin-left: 16px;
          display: none;
        }
      }

      &.active {
        .menu-link {
          background: linear-gradient(45deg, var(--gradient-from) 0%, var(--gradient-to) 100%);
          color: #FFF;

          svg {
            display: block;
          }
        }
      }

      &.menu-communities {
        .communities {
          height: 0px;
          overflow: hidden;

          .community {
            display: flex;
            align-items: center;
            padding-left: 100px;
            height: 40px;
            font-size: 15px;
            font-weight: 600;
            color: var(--gray);
          }

          &.opened {
            height: 160px;
            overflow-y: scroll;

            &::-webkit-scrollbar {
              width: 8px;
            }

            &::-webkit-scrollbar-track {
              background: transparent;
            }

            &::-webkit-scrollbar-thumb {
              border-radius: 5px;
              background: linear-gradient(45deg, var(--gradient-from) 0%, var(--gradient-to) 100%);
            }
          }
        }
      }
    }

    .start-raiding {
      margin: 20vh auto 0;
      width: 192px;
    }
  }

  .book-a-raid {
    margin: 20vh auto 0;
    width: 192px;
  }

  @include media-md {
    position: fixed;
    top: 0;
    left: -288px;

    &.mobile-open {
      z-index: 100;
      left: 0px;
    }
  }
}