@import 'styles/abstracts/mixin';

.content-wrapper {
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px #0000001A;
  background-color: var(--white);

  @include media-lg {
    border-radius: 16px;
  }

  @include media-sm {
    border-radius: 12px;
  }
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  border: none;
  border-radius: 12px;
  padding: 24px;
  background-color: var(--white);
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 999px;
    background: var(--dark-gray);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--gray)
  }
}